.header {
    font-family: 'Gelasio', serif;
    text-align: center;
    color: white;
    margin: 0px 0px 0px 0px;
}

.head {
    padding: 25px 0px 0px 0px;
}

.subhead {
    font-size: 25px;
    font-family: 'Gelasio', serif;
    padding: 0px 15px 0px 15px;
}

.author {
    font-size: 15px;
    padding: 15px 0px 25px 0px;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.credit {
    font-family: 'Gelasio', serif;
    color: gray;
    text-align: right;
}

.quote {
    font-family: 'Gelasio', serif;
    background-color: rgb(175, 175, 175);
    color: black;
    text-align: left;
    padding: 15px;
    margin: 0px;
    font-size: 25px;
}

.date {
    font-family: 'Gelasio', serif;
    font-size: 18px;
    text-align: right;
}

.copy {
    font-family: 'Gelasio', serif;
    text-indent: 7%;
    font-size: 20px;
}

.copyFirst::first-letter {
    initial-letter: 2;
    font-family: 'Gelasio', serif;
}

.copyFirst {
    font-family: 'Gelasio', serif;
    font-size: 20px;
}

.footer {
    font-family: 'Gelasio', serif;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 15px 0px;
}

.footer a:hover {
    color: #ffd200;
    text-decoration-line: underline;
}

.footer a:link {
    color: #cf142e;
    text-decoration-line: underline;
}